Tests: build
Depends:
 build-essential,
 libflatpak-dev,

Tests: builder
Depends:
 attr,
 flatpak-builder,
 flatpak-tests,
 gnome-desktop-testing,
 make,

Tests: gnome-desktop-testing
Depends:
 attr,
 flatpak-tests,
 gnome-desktop-testing,
