Source: xdg-app
Section: admin
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders:
 Simon McVittie <smcv@debian.org>,
Build-Depends:
 dbus,
 debhelper (>= 9),
 dh-autoreconf,
 docbook-xml,
 docbook-xsl,
 docbook-xsl-doc-html,
 fuse,
 gobject-introspection,
 gtk-doc-tools,
 libarchive-dev (>= 2.8.0),
 libattr1-dev,
 libcap-dev,
 libelf-dev,
 libfuse-dev,
 libgirepository1.0-dev,
 libglib2.0-dev,
 libgsystem-dev,
 libjson-glib-dev,
 libostree-dev,
 libseccomp-dev,
 libsoup2.4-dev,
 libxau-dev,
 libxml2-utils,
 xsltproc,
Standards-Version: 3.9.6
Homepage: https://github.com/alexlarsson/xdg-app
Vcs-Git: https://anonscm.debian.org/git/pkg-utopia/libgsystem.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-utopia/libgsystem.git

Package: gir1.2-xdgapp-1.0
Architecture: any
Section: introspection
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: Application deployment framework for desktop apps (introspection)
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.

Package: libxdg-app0
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Pre-Depends:
 ${misc:Pre-Depends},
# this name was never in Debian but is in upstream's PPAs
Conflicts:
 libxdgapp,
Replaces:
 libxdgapp,
Multi-arch: same
Description: Library for xdg-app support
 Library that gives access to xdg-app features. Needed for higher level package
 management like gnome-software.

Package: libxdg-app-dev
Architecture: any
Section: libdevel
Depends:
 pkg-config,
 libglib2.0-dev,
 libgsystem-dev,
 libostree-dev,
 xdg-app (= ${binary:Version}),
 ${misc:Depends},
# this name was never in Debian but is in upstream's PPAs
Conflicts:
 libxdgapp-dev,
Replaces:
 libxdgapp-dev,
Description: Development files for xdg-app
 Development headers and pkg-config file for xdg-app.

Package: libxdg-app-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
Suggests: devhelp
Multi-Arch: foreign
Description: Documentation for xdg-app

Package: xdg-app
Architecture: any
Depends:
 fuse,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Application deployment framework for desktop apps
 Install and run sandboxed applications.

Package: xdg-app-builder
Architecture: any
Section: devel
Depends:
 bzr,
 git,
 patch,
 tar,
 unzip,
 xdg-app (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: xdg-app application building helper
 xdg-app-builder is a tool that makes it easy to build applications and their
 dependencies by automating the configure && make && make install steps.
